.line-item:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    left: 29px;
    background: $base-color;
}

.line-index {
    width: 30px;
    background: $lightest-color;
    text-align: center;
    height: 30px;
    padding: 3px;
    position: relative;
    margin-bottom: 15px;
    color: $base-color;
    font-size: 14px;
    left: 15px;
    border: solid 3px $base-color;
    @include border-radius(15px);
    font-weight:bold;
}