$grid-row-cell-focus-border-width: 0px;
$dialog-login-background-color: #83c748;
$create-account-background-color: #a1a1a2;
$dialog-trigger-color: #e5e5e5;
$blank-page-background-color: #ebebeb;
$blank-page-color :#cacaca;